@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --chart-bg: #ffffff;
  --chart-grid: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-alert {
  background-color: rgb(254 226 226);
}

.bg-warning {
  background-color: rgb(254 249 195);
}

.bg-success {
  background-color: rgb(220 252 231);
}
